@font-face{
	font-family: titlefont;
	src : url("./TWISTER/GOTHICBI.TTF");
}

body{
	background-image: url("./TWISTER/home_page/background_home.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: fixed top left;
	background-size: 100% 100%;
    font-family: titlefont;
}

textarea:invalid{
    outline: none;
    box-shadow: none;
    border-style: none;
}

header{
	position:fixed;
	top: 0%;
	left: 0%;
	background-color: rgb(241, 89, 42);
	height:8%;
	width: 100%;
    z-index: 5;
    white-space: nowrap;
}	 	


#search_bar{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    left: 22%;
    width: 1500px;
    margin-bottom: 1%;
    white-space: nowrap;
}

.check  {
    padding: 6px;
    margin-right: 2%;
    margin-left: 1%;
    margin-bottom: 0.5%;
    font-size: 120%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 500px;
}

.checkbox_part{
    margin-right: 2%;
}

input[type=text] {
  
    position: relative;
    border-radius: 20px;
    border-style: none; 
    padding-left: 2%;
    margin: 0px; 
    height: 40px;
    width: 30%;
    color: black;
    font-size: 100%;
    font-family: titlefont;
}

#logo {
    position: relative;
    height: 75%;
    width: 11%;
    top: 10%;
    left: 0%;
}

.Online_Friends{
    background-color: rgb(241, 89, 42);
    position: fixed;
    top: 10%;
    right: 0%;
    width: 15%;
    height: 100%;
    z-index: 4;
}

#title_online{
    position: relative;
    width: 85%;
    height: 5%;
    margin: 8%;
    margin-bottom: 5%;
    padding-top: 7%;
    text-align: center;
    color: white;
    font-size: 150%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "[...]";
}

#online_list{
    position: relative;
    height: 78%;
    background-color: white;
    margin: 5%;
    overflow-y: auto;
    overflow-x: hidden;
}

.online_items{
    position: relative;
    padding-left: 5%;
    padding-top: 8%;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

#profile{
    position: relative;
    height: 20%;
    width: 20%;
    vertical-align: middle;
    padding-right: 1%;
}

#profile_name{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 10%;
    width: 50%;
    padding-right: 5%;
    padding-left: 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "...";
    text-decoration: none;
    color: black;
}

#profile_name:hover{
	text-decoration: underline; 
}

.icon{
    position: relative;
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.icon_off{
    position: relative;
    background-color: grey;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

#messages{
    position: absolute;
    top: 80px;
    left: 23%;
    display: inline-block;
    height: 100%;
    z-index: 3;
    width: 1000px;
}

#addm{
    position: relative;
    word-wrap: break-word;
    display: inline-block;
    vertical-align: middle;
    border-style:  solid;
    border-color: rgb(241, 89, 42);
    border-radius: 20px;
    width: 729px;
    min-height: 150px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 9px;
}

#addc #addm{
    border-color: black;
    border-radius: 20px;
    min-height: 10px;
    margin-top: 15px;
    margin-left: 0px;
    margin-bottom: 9px;
}

#addm span{
	position: relative;
	float: right;
	margin-right: 5px;
	margin-bottom: 5px;
	border-style:  solid;
    border-color: rgb(241, 89, 42);
    border-radius: 20px;
    width: 42px;
    height: 20px;
    text-align: center;
}

#addc #addm span{
    border-color: black;
    height: 15px;
    font-size: 13px;
}

#addm textarea{
    resize: none;
    position: relative;
    border-style: none;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
    word-wrap: break-word;
    width: 95%;
    min-height: 140px;
    margin-left: 15px;
    margin-top: 5px;
    padding-top: 5px;
    font-family: titlefont;
    background-color: transparent;
    font-size: 110%;
}

#addc #addm textarea{
	font-size: 15px;
    min-height: 10px;
}

#submit_button input{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    height: 53px;
    width: 150px;
    left: 20px;
    background-color: rgb(241, 89, 42);
    border-radius: 23px;
    font-family: titlefont;
    text-align: center;
    border-style: none;
    font-size: 16px;
    margin-bottom: 15px;
}




.un_message{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 2%;
    width: 70%;
}

#form{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.center-data{
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-height: 30px;
    width: 100%;
    border-style:  solid;
    border-color: rgb(241, 89, 42);
    word-wrap: break-word;
    border-radius: 20px;
    padding: 1%;
    padding-left: 2%;
}

#center-comments{
	position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 150px;
    margin-top: 10px;
    border-color: black;
    overflow-y: scroll;
}

.comment-element{
	width: 100%;
	display: flex;
	flex-direction: column;
}

#comments{
    position: relative;
    margin-bottom: 5%;
    top: 5px;
    left: 0px;
    width: 800px;
}

.comments_item{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    height: 40px;
    width: 150px;
    padding-top: 12px;
    margin-top: 5px;
    left: 0px;
    background-color: rgb(241, 89, 42);
    border-radius: 20px;
    font-family: titlefont;
    text-align: center;
}

#more{
	width: 30%;
	height: 20px;
	position: relative;
	margin-left: 20px;
	background-color: rgb(241, 89, 42);
    border-radius: 20px;
    font-family: titlefont;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

#comments a{
    text-decoration: none;
    color: black;
}

#more a{
    text-decoration: none;
    color: black;
}

#comments a:hover{
    text-decoration: none;
    color: grey;
}

#more a:hover{
    text-decoration: none;
    color: grey;
}

#com-del{
	text-decoration: none;
    color: black;
}

#com-del:hover{
    text-decoration: none;
    color: grey;
}

.photo-profile{
    position: relative;
    height: 100%;
    width: 170px;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.comment-element{
	margin-top: 20px;
	margin-left: 0px;
}

.comment-element .photo-profile{
	height: 25%;
}

#profile_message{
    position: relative;
    height: 100%;
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

.comment-element #profile_message{
	width: 25%;
	height: 100%;
}

#profile_name_message{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 55%;
    width: 50%;
    font-size: 120%;
    padding-right: 5%;
    padding-left: 5%;
    white-space: nowrap;
}

.comment-element #profile_name_message{
	font-size: 15px;
}

.comment-text{
	margin-left: 70px;
	font-size: 15px;
}

#profile_name_message a{
    text-decoration: none;
    color: black;
}

#profile_name_message a:hover{
    text-decoration: underline;
}


#home{
    position: relative;
    height: 70%;
    width: 40%;
    
}

.sidenav {
    height: 30%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 0;
    background-color: rgb(241, 89, 42);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5%;
}

.menu_items {
    background-color: white;
    text-align: center;
    font-family: titlefont;
    margin: 16px;
    margin-top: 0px;
    height: 13%;
    padding-top: 6%;
}


.sidenav a {
    text-decoration: none;
    color: black;
}

.sidenav a:hover {
    color: grey;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#d{
	color: grey;
}

#popup{
	background-color: rgb(216, 212, 211);
	border-radius : 20px;
	text-align: center;
	width: 34%;
	font-size: 13px;
	left: 36%;
	position: fixed;}
